@model SharedNav.Models.NavigationItemViewSingle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NavigationItemViewSingle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rtype)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
