@model SharedNav.Models.NavigationItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NavigationItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoredType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoredType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LargeImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LargeImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentMode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
